$font-family-sans-serif: 'Barlow Semi Condensed', sans-serif;

$primary: #8f7883;
$success: #49556b;
$dark: #18202d;
$secondary: #edf2f8;

.d-flex img {
    
    width: 50px
}

.fondo-card{

    background-image: url('../images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% top;
}

   $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 960px,
    xxl: 960px

   );

@import "../node_modules/bootstrap/scss/bootstrap";